@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, Oxygen, sans-serif;
    font-weight: 400;
    color: #940f0f;
    background-color: whitesmoke;
}

/* header*/

header {
    background: linear-gradient(rgb(114, 238, 201), rgb(241, 255, 252), rgb(241, 255, 252), rgb(114, 238, 201));
    letter-spacing: 3px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    text-align: left;
    font-size: 300%;
    margin-left: 20px;
    display: inline;
}

#logo,
#menu {
    line-height: 80px;
}

/* Navigation links */

#menu {
    font-size: 140%;
    float: right;
}

#menu li {
    display: inline;
    margin-right: 50px;
    list-style-type: none;
}


#menu a:hover {
    color: rgb(71, 15, 161);
}

.active {
    border-bottom: 1px solid;
}

/* Home content */

#hero-outer {
    position: relative;
    height: 500px;
    width: 100%;
}

#hero-image {
    height: 500px;
    background: url(../images/pexels-karolina-grabowska.jpg) no-repeat center center;
    background-size: 100% 100%;
}

#motto {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 50px;
    left: 25%;
    right: 25%;
    letter-spacing: 3px;
    text-transform: capitalize;
    padding: 5px 10px;
    font-size: 170%;
    color: rgb(71, 15, 161);
    background-color: rgba(114, 238, 201, 0.5);
    border-radius: 50px;
}

#benefits,
#tips {
    text-align: center;
    font-weight: 900;
    line-height: 60px;
    font-size: 40px;
    letter-spacing: 2px;
    display: inline-block;
}

.popup {
    position: relative;
}

.popup div {
    /*visiblity: hidden; */

    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    /* margin-top: -30px; */
    /* approx adjustment for arrow */
    /* margin-left: 25px; */
    /* approx adjustment for arrow */
}

.popup a:hover+div {
    cursor: pointer;
    display: block;
    /*visibility: visible; */
    width: 180px;
    line-height: 25px;
    padding: 8px;
    font-size: 20px;
    text-align: center;
    z-index: 1;
    color: rgb(71, 15, 161);
    background: rgb(114, 238, 201);
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
    box-shadow: #333 -4px 4px 16px 2px;
    -webkit-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}

.popup div:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #FFFFFF transparent transparent;
    top: 22px;
    left: -23px;
}

#benefits {
    margin: 50% 20%;
    color: rgb(215, 205, 231);
    background-color: rgba(245, 81, 81, 0.6);
    text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
}

#tips {
    margin: 50% 20%;
    color: rgb(215, 205, 231);
    background-color: rgba(71, 15, 161, 0.6);
}

.content-left {
    float: left;
    background: url(../images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg) no-repeat center center / cover;
}

.content-right {
    float: right;
    background: url(../images/tyler-nix-Y1drF0Y3Oe0-unsplash.jpg) no-repeat center center / cover;
}

.content-left,
.content-right {
    width: 50%;
    height: 150vh;
    border-radius: 15%;
}

#benefits p,
#tips p {
    font-size: 18px;
}

#benefits li,
#tips li {
    text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
    font-family: Oxygen, sans-serif;
    list-style-type: none;
}

#benefits li:before,
#tips li:before {
    content: '\2606';
    margin-right: 20px;
}

/* Media queries */

@media screen and (max-width: 1200px) {
    #content {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
        float: left;
        font-size: 10px;
    }

}

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}