@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lora, sans-serif;
    font-weight: 400;
    background-color: whitesmoke;
}

/* header*/

header {
    background-color: #e4e0d3;
    color: #940f0f;
    letter-spacing: 2px;

}

header h1 {
    text-align: center;
    font-size: 250%;
}

/* Navigation links */

#menu ul {
    text-align: center;
}

#menu li {
    display: inline;
    margin: 100px;
    font-size: 160%;
    line-height: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: rgb(206, 123, 28);
}

.active {
    border-bottom: 1px solid;
}

h1, h2 {
    text-align: center;
    color: #940f0f;
}

/* Home content */

#motto {
    line-height: 200px;
}

#benefits, #tips {
    text-align: center;
    font-weight: 900;
    line-height: 25px;
    font-size: 22px;
    margin: 40px 500px 100px 500px;
    padding: 20px 20px;
}

h2 {
    text-align: left;
}

#benefits li, #tips li {
    list-style-type: none;
    text-align: left;
    
}

#benefits li:before, #tips li:before { content: '\2606'; margin-left: -20px; margin-right: 10px; } 

#img-left{
    float: left;
    width: 50%;
    position: absolute;
    opacity: 0.4;
}

#img-right {
    float: right;
    right: 0;
    width: 50%;
    position: absolute;
    opacity: 0.4;
}